/*Project primary colors to be used*/

$primary-color: #262428;
$secondary-color: #363339;
$third-color: #65B8E7;
$font-color: #DA6E6E;
$call-to-action: #211F88;



$primary-text-color: #FFFFFF;
$secondary-text-color: rgba(#FFFFFF, 0.6)