@import url('https://fonts.googleapis.com/css2?family=Inder&display=swap');

$h1-400: 2.6rem;
$h1-500: 3rem;

$h2-400: 1.6rem;
$h2-500: 1.8rem;

$h3-400: 1.4rem;
$h3-500: 1.8rem;

$p-400: 0.9rem;
$p-500: 1.05rem;

$btn: 2.3rem;